<!-- このページは管理者しか見れません -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-10 offset-lg-1 col-xs-12">
			<div class="d-flex justify-content-center">
				<h1 style="margin: 20px 0;">ユーザー一覧</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6 offset-3">
			<div class="form-group">
				<%= search_form_for @search do |f| %>
	            	<!-- ユーザーの検索欄 -->
	           		<%= f.label :ユーザー検索欄 %><br>
	            	<%= f.text_field :name_cont, class: "form-control" %>
	            	<div class="actions"><%= f.submit "検索" %></div>
	            <% end %>
          	</div>
        </div>
    </div>
    <div class="row">
    	<div class="col-6 offset-3">
    		<%= link_to "ユーザー一覧を再度表示", users_path, class: "btn btn-secondary", style: "margin: 5px 0 20px 0;"%>
    	</div>
    </div>
	<div class="row">
		<div class="col-lg-10 offset-lg-1 col-xs-12">
			<div class="d-flex justify-content-center">
	     		<table class="table table-striped">
					<thead>
						<th> ユーザー画像</th>
						<th> ペンネーム</th>
						<th></th>
					</thead>
				    <tbody>
					<% @result.each do |user| %>
						<tr>
						<td
						><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: '/images/no_image.jpg', class: "index-image" %></td>
						<td><%= link_to user.name, user_path(user.id) %></td>
						<td><%= link_to "ユーザー削除", user_path(user.id), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-secondary" %></td>
					    </tr>
					<% end %>
				    </tbody>
				</table>
		    </div>
		</div>
	</div>
	<%= paginate @users_result, :window => 2 %>
</div>

