<div class="container-fluid">
<%= flash[:notice] %>
	<div class="row">
		<div class="col-lg-12 col-xs-12">
			<div class="d-flex justify-content-center">
				<h2 style="margin: 20px 0;"><%= @user.name %>のマイページ</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 offset-lg-1 col-xs-12">
			<div class="d-flex justify-content-center">
				<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", class: "show-image" %>
			</div>
		</div>
		<div class="col-lg-6 col-xs-12">
			<div class="d-flex justify-content-center">
				<table style="margin-top: 30px;">
					<thead></thead>
					<tbody>
						<tr>
							<td style="font-size: 22px;">ペンネーム</td>
							<td></td>
							<td style="font-size: 22px;">　<%= @user.name %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<% if @user.url.blank? %>
		<% else %>
		<div class="col-lg-6 offset-lg-6 col-xs-12">
			<div class="d-flex justify-content-center">
				<a href="<%= @user.url %>" target="_blank"><%= @user.name %>のその他URL</a>
			</div>
		</div>
		<% end %>
		<div class="col-lg-6 offset-lg-6 col-xs-12">
			<div class="d-flex justify-content-center">
				<table style="margin-top: 30px;">
					<thead></thead>
					<tbody>
						<tr>
							<!-- ユーザーがサインインしているかで条件分岐 -->
							<% if user_signed_in? %>
								<!-- マイページで表示しているユーザーがcurrent_userなら -->
								<% if @user.id == current_user.id %>
							        <td>
									<%= link_to "プロフィール編集", edit_user_path(current_user.id), class: "btn btn-default" %></td>
									<% end %>
									<!--　current_userが管理者なら -->
									<% if current_user.admin_flag == 1  %>
									<td>
									<%= link_to "ユーザー削除", user_path(@user.id), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-default" %></td>
									<% end %>
								<% end %>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 offset-lg-1 col-xs-12">
			<div class="d-flex justify-content-start">
				<h2 style="margin: 20px 0"> 投稿小説一覧</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 offset-lg-1 col-xs-12">
			<div class="d-flex justify-content-center">
				<% if @stories.blank? %>
					<p><%= @user.name %>さんの投稿小説がありません<br>
						 <% if user_signed_in? %>
							<% if @user.id == current_user.id %>
								あなたも小説を投稿してみませんか<br>
									<%= link_to "小説投稿画面へ", new_story_path, class: "btn btn-info" %>
							<% end %>
						<% end %>
				<% else %>
			     	<table class="table table-striped">
						<thead>
							<th>作品名</th>
							<th>ジャンル</th>
							<th></th>
							<th></th>
						</thead>
						<tbody>
							<% @stories.each do |story| %>
								<tr>
									<td><%= link_to story.title,story_path(story.id) %></td>
									<td><%= story.category %></td>
										<!--ユーザーがサインインしていたら -->
										<% if user_signed_in? %>
											<!-- サインインしているユーザーがcurrent_userだったら -->
											<% if @user.id == current_user.id %>
												<td><%= link_to "編集", edit_story_path(story.id), class: "btn btn-default" %></td>
												<td><%= link_to "削除",story_path(story.id), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-default" %></td>
											<% end %>
										<% end %>
							   	</tr>
							<% end %>
						</tbody>
					</table>
				<% end %>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 offset-lg-1 col-xs-12">
			<%= paginate @stories, class: "paginate" %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 offset-lg-1 col-xs-12">
			<div class="d-flex justify-content-start">
				<h2>お気に入り小説</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 offset-lg-1 col-xs-12">
			<div class="d-flex justify-content-center">
				<% if @favorites.blank? %>
					<%= @user.name %>さんのお気に入り小説はありません
				<% else %>
		     		<table class="table table-striped">
						<thead>
							<th>作品名</th>
							<th>作者名</th>
						</thead>
						<tbody>
							<% @favorites.each do |favorite| %>
								<tr>
								<td><%= link_to favorite.story.title, story_path(favorite.story.id) %></td>
								<td><%= link_to favorite.story.user.name, user_path(favorite.story.user.id) %></td>
							    </tr>
							<% end %>
						</tbody>
					</table>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 offset-lg-1 col-xs-12">
			<%= paginate @favorites, class: "paginate" %>
		</div>
	</div>
</div>
