<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="background-color: rgb(190,220,225); height: 100vh;">
      <div class="d-flex justify-content-center">
        <div class="title_background">
    　　　　<h2 style="text-align: center">パスワード再設定</h2>
  　　　<p style="text-align: center">パスワードを再設定します。<br>
     　　　新しいパスワードを入力してください。
  　　　</p>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
           <%= f.hidden_field :reset_password_token %>

            <div class="email" style="text-align: center">
              <%= f.label :password, "新しいパスワード" %><br />
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> 文字以上)</em><br />
              <% end %>
              <p class="in_field"><%= f.password_field :password, autofocus: true, autocomplete: "new-password" %></p>
            </div>

            <div class="password_confirmation" style="text-align: center">
              <%= f.label :password_confirmation, "新しいパスワード再入力" %><br />
              <p class="in_field"><%= f.password_field :password_confirmation, autocomplete: "off" %></p>
            </div>

            <div class="actions" style="text-align: center;">
              <p class="in_field"><%= f.submit "パスワード再設定(マイページへログインします)",:class=>"form_login_btn col-xs-12" %></p>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>