<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="background-color: rgb(190,220,225); height: 100vh;">
      <div class="d-flex justify-content-center">
        <div class="title_background">
            <h2>パスワードを<br>忘れてしまった方へ</h2>
          <p>以下の欄に登録したメールアドレスをご入力ください。<br>
             パスワード再設定について、メールでご連絡いたします。
          </p>
          <div class="pass_new">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <div class="email">
                <%= f.label :email %><br />
                <p class="in_field"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
              </div>
              <div class="actions">
                <p class="in_field"><%= f.submit "パスワード再設定メールを送る",:class=>"form_login_btn col-xs-12" %>
                </p>
              </div>
            <% end %>
            <%= link_to "ログイン画面へ戻る", new_user_session_path, class: "btn btn-info" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>