<!-- ユーザーがログインしているかで条件分岐 -->
<% if user_signed_in? %>
    <!-- ログインしているユーザーがお気に入りしたかどうかで分岐 -->
    <% if story.favorited_by?(current_user) %>
        <p><%=link_to "この小説をお気に入りから解除する", story_favorites_path(story.id), method: :delete, remote: true, class: "btn btn-primary" %>
            <i class="fa fa-star" aria-hidden="true" style="color: rgb(255,255,0);"></i>
            <p>お気に入り数：<%= story.favorites.count %></p>
        </p>
    <% else %>
        <p><%=link_to "この小説をお気に入りに登録する", story_favorites_path(story.id), method: :post, remote: true, class: "btn btn-primary" %>
        	<i class="fa fa-star-o" aria-hidden="true"></i>
            <p>お気に入り数：<%= story.favorites.count %></p>
        </p>
    <% end %>
<% else %>
    <p><span>お気に入り数: </span><%= story.favorites.count %></p>
<% end %>
