<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="d-flex justify-content-center">
				<h1 style="margin-top: 10px;">小説一覧</h1>
			</div>
		</div>
	</div>
  <div class="row">
    <div class="col-lg-3 col-xs-0" id="fade">
      <div class="d-flex justify-content-center">
        <!--普段は隠していてhover字に文字が現れる -->
        <p class="story-index"> 小説一覧ページです。<br>
            皆さんの投稿作品を掲載させていただいています。<br>
            人気小説では皆様が押したお気に入りの数が多い上位三作品を掲載させていただいています。
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-xs-12">
      <div class="d-flex justify-content-center">
        <%= search_form_for @search do |f| %>
          <div class="form-group">
            <!-- ジャンルの検索欄 -->
            <%= f.label :ジャンル検索欄 %><br>
            <%= f.select :category_eq, [["恋愛","恋愛"], ["ミステリー","ミステリー"], ["エッセイ","エッセイ"],["ファンタジー", "ファンタジー"], ["青春", "青春"], ["ノンフィクション", "ノンフィクション"],["ホラー", "ホラー"], ["歴史", "歴史"],["資格", "資格"],["日記","日記"], ["その他", "その他"]], :prompt => "選択してください", class: "form-control"  %>
          </div>
          <div class="form-group">
            <!-- 作品名の検索欄 -->
            <%= f.label :作品名検索欄 %><br>
            <%= f.text_field :title_cont, class: "form-control" %>
            <div class="actions"><%= f.submit "検索" %></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 col-xs-12" style="margin: 20px 0;">
      <div class="d-flex justify-content-center">
        <!-- 検索後、再び全小説一覧を表示するときに使用 -->
        <%= link_to "全小説一覧表示", stories_path, class: "btn btn-info"%>
      </div>
    </div>
    <div class="col-lg-2 col-xs-0" id="fade2">
      <div class="d-flex justify-content-start">
        <!--普段は隠していてhover字に文字が現れる -->
        <p class="story-index2">
          またジャンル検索、作品名検索をすることもできます。
          あなたの趣味に合う小説が見つかりますように
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-xs-12">
      <div class="d-flex justify-content-center">
        <h2> 人気小説</h2>
      </div>
      <div class="d-flex justify-content-center">
        <table>
          <thead>
            <tr>
              <th>作品名</th>
              <th>ジャンル</th>
            </tr>
          </thead>
          <tbody>
            <!--人気小説の上位3つの作品名、ジャンルを表示 -->
            <% @all_ranks.each do |story| %>
              <tr>
                <td style="padding: 20px 20px 20px 0;">
                  <%= link_to story.title, story_path(story.id) %>
                </td>
                <td>
                  <%= story.category %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
		<div class="col-lg-9 col-xs-12">
			<div class="d-flex justify-content-center">
					<table class="table table-hover table-inverse">
          	<thead>
          		<tr>
            		<th></th>
            		<th>ペンネーム</th>
            		<th>作品タイトル</th>
                <th>ジャンル</th>
          		</tr>
          	</thead>
          	<tbody>
            <!-- 検索結果一覧表示 -->
          	<% @result.each do |story| %>
          		<tr>
            		<td><%= attachment_image_tag story.user, :profile_image, :fill, 100, 100, fallback: '/images/no_image.jpg', class: "index-image" %>
           			</td>
                <td><%= link_to story.user.name, user_path(story.user.id) %></td>

            		<td><%= link_to story.title, story_path(story.id) %></td>
                <td><%= story.category %></td>
          		</tr>
        		<% end %>
        		</tbody>
     			</table>
			</div>
		</div>
  </div>
  <div class="row">
    <div class="col-lg-3 offset-lg-9">
      <div class="d-flex justify-content-end">
        <!-- kaminariのページネーション表示 -->
        <%= paginate @stories %>
      </div>
    </div>
  </div>
</div>