<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="d-flex justify-content-center">
				<h1>小説一覧</h1>
			</div>
		</div>
	</div>
  <div class="row">
    <div class="col-3 offset-1">
      <div class="d-flex justify-content-center">
        <%= search_form_for @search do |f| %>
          <div class="form-group">
            <%= f.label :ジャンル検索欄 %><br>
            <%= f.select :category_eq, [["恋愛","恋愛"], ["ミステリー","ミステリー"], ["エッセイ","エッセイ"],["ファンタジー", "ファンタジー"], ["青春", "青春"], ["ノンフィクション", "ノンフィクション"],["ホラー", "ホラー"], ["歴史", "歴史"], ["その他", "その他"]], :prompt => "選択してください", class: "form-control"  %>
          </div>
          <div class="form-group">
            <%= f.label :作品名検索欄 %><br>
            <%= f.text_field :title_cont, class: "form-control" %>
            <div class="actions"><%= f.submit "検索" %></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex justify-content-end">
        <%= link_to "全小説一覧表示", stories_path, class: "btn btn-info"%>
      </div>
    </div>
  </div>
	<div class="row">
		<div class="col-12">
			<div class="d-flex justify-content-center">
					<table class="table table-hover table-inverse">
          	<thead>
          		<tr>
            		<th></th>
            		<th>ニックネーム</th>
            		<th>タイトル</th>
                <th>ジャンル</th>
          		</tr>
          	</thead>
          	<tbody>
          	<% @result.each do |story| %>
          		<tr>
            		<td><%= attachment_image_tag story.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
           			</td>
                <td><%= link_to story.user.name, user_path(story.user.id) %></td>

            		<td><%= link_to story.title, story_path(story.id) %></td>
                <td><%= story.category %></td>
          		</tr>
        		<% end %>
        		</tbody>
     			</table>
			</div>
		</div>
	</div>
  <%= paginate @stories %>
</div>