<div class="container">
	<div class="background">
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h3 class="new-title" style="margin-top: 20px;">
						投稿画面です。
					</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<%= form_for (@story) do |f| %>
  						<div class="story_form">
   				 			<div class="form-group">
      						<%= f.label :タイトル %>
     						 <%= f.text_area :title, class: "form-control", rows: 1 %>
    						</div>

    						<div class="form-group">
    							<%= f.label :ジャンル %>
    							<%= f.select :category, [["恋愛","恋愛"], ["ミステリー","ミステリー"], ["エッセイ","エッセイ"],["ファンタジー", "ファンタジー"], ["青春", "青春"], ["ノンフィクション", "ノンフィクション"],["ホラー", "ホラー"], ["歴史", "歴史"], ["その他", "その他"]], :prompt => "選択してください", class: "form-control"  %>
    						</div>

    						<div class="form-group">
      							<%= f.label :本文 %>
      							<%= f.text_area :short_story, class: "form-control", id: "textArea",cols: 110, rows: 15 %>
      							<p>
  									<span id="textCount">0</span>文字入力しました。<br>
  									あと<span id="textLest">1200</span>文字入力できます。
								</p>
								<p id="textAttention" style="display:none; color:red;">入力文字数が多すぎます。</p>
    						</div>

    						<div class="form-submit">
      						<%= f.submit "投稿する", class: "form-button" %>
    						</div>
  						</div>
					<% end %>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-start">
					<h4 style="margin-top: 20px;">注意点</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-start">
					<p>１、このアプリケーションは1200字以内の短編小説専用のものです。<br>
						  文字数が1200文字を超える場合、投稿することができなくなっています。<br>
						  ご注意くださいませ。
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-start">
					<p>２、タイトルが空欄の場合や、ジャンルを選択されていない場合は<br>
						 投稿できない仕組みになっております。ご注意くださいませ<br>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>