<div class="container">
	<div class="row" style="margin-top: 20px;">
		<div class="col-10 offset-1">
			<div id="flipbook">
	  			<div class="box">
	  				<p class="show-title"><%= @story.title %></p>
	  			</div>
			  			<% @contents.each do |content| %>
				  			<div class="box">
				  				<%= simple_format(content) %>
				  			</div>
			  			<% end %>
	  			<div class="box">
			  		<div id="favorite_buttons_<%= @story.id %>">
		             	<%= render partial: 'favorite', locals: { story: @story} %>
		          	</div>
		          	<div style="margin:170px 250px 0 0;">
		          		<p> 作者名：<%= @story.user.name %> </p>
		          	</div>
	  			</div>
	  		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			<% if current_user.id  == @story.user.id %>
				<%= link_to "小説編集画面へ移動", edit_story_path(@story.id), class: "btn btn-default" %>
			<% end %>
			<% if user_signed_in? %>
				<% if current_user.admin_flag == 1  %>
					<%= link_to "小説削除", story_path(@story.id), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-default" %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<div class="d-flex justify-content-start">
				<h3 class="comment-count" style="margin:30px 0 10px 0 ;"><%= @story.story_comments.count %>件コメントがあります。</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table border="1" style="width:100%;">
				<colgroup span="1" style="width:25%;">
				<colgroup span="1" style="width:67%;">
				<colgroup span="1" style="width:8%;">
				<thead style="width:30%;">
					<tr>
					    <th>ニックネーム</th>
						<th>コメント</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @story.story_comments.each do |story_comment| %>
						<tr>
							<td><%= story_comment.user.name %></td>
							<td><%= story_comment.comment %></td>
							<td>
								<% if current_user.id == story_comment.user.id %>
									<%= link_to "コメントを削除", story_story_comments_path(story_comment.id), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-default" %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<% if user_signed_in? %>
	<div class="row" style="margin-top: 40px;">
		<div class="col-3">
			<div class="d-flex justify-content-start">
				<h3>コメント</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<%= form_for [@story, @story_comment] do |f| %>
				<%= f.text_area :comment, rows: '5', class: "form-control",placeholder:"コメントはここに"
              %>
            	<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
			<% end %>
		</div>
	</div>
	<% end %>
</div>

<script>
 $(function(){
  	$('#flipbook').turn({
  		elevation: 50,
  		gradients: true,
 		autoCenter: false,
 		direction: 'rtl'
  	});
 });
</script>