<!DOCTYPE html>
<html>
  <head>
    <title>Liefe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- font-awesome導入 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!--header部分 -->
  <body>

  <div class="container">
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-sky p-1">
        <h1>liefe</h1>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <% if current_user.admin_flag == 1  %>
                <%= link_to "マイページ", user_path(current_user.id), class: "btn btn-header" %>
                <%= link_to "ユーザー一覧", users_path, class: "btn btn-header" %>
                <%= link_to "投稿する", new_story_path, class: "btn btn-header" %>
                <%= link_to "小説一覧", stories_path, class: "btn btn-header" %>
                <%= link_to "ログアウト",destroy_user_session_path, method: :delete, class: "btn btn-header" %>
              <% else %>
                <%= link_to "マイページ", user_path(current_user.id), class: "btn btn-header" %>
                <%= link_to "投稿する", new_story_path, class: "btn btn-header" %>
                <%= link_to "小説一覧", stories_path, class: "btn btn-header" %>
                <%= link_to "ログアウト",destroy_user_session_path, method: :delete, class: "btn btn-header" %>
              <% end %>
            <% else %>
                <%= link_to "トップページ",root_path, class: "btn btn-header"  %>
                <%= link_to "初めての方へ",about_path, class: "btn btn-header" %>
                <%= link_to "小説一覧", stories_path, class: "btn btn-header" %>
                <%= link_to "会員登録",new_user_registration_path, class: "btn btn-header" %>
                <%= link_to "ログイン",new_user_session_path, class: "btn btn-header" %>
            <% end %>
          </ul>
        </div>
    </nav>
  </div>
      <%= yield %>
  </body>
  <footer class="container">
    <nav class="navbar navbar-expand-sm fixed-bottom navbar-dark bg-sky p-1">
        <h1>liefe</h1>
    </nav>
  </footer>
</html>
